<canvas
  (window:keydown.arrowright)="startRotateRight()"
  (window:keyup.arrowright)="cancelRotateRight()"
  (window:keydown.arrowleft)="startRotateLeft()"
  (window:keyup.arrowleft)="cancelRotateLeft()"
  (window:keydown.arrowup)="startMoveForward()"
  (window:keyup.arrowup)="cancelMoveForward()"
  (window:keydown.arrowdown)="startMoveBackward()"
  (window:keyup.arrowdown)="cancelMoveBackward()"
  (window:keydown.d)="startRotateRight()"
  (window:keyup.d)="cancelRotateRight()"
  (window:keydown.a)="startRotateLeft()"
  (window:keyup.a)="cancelRotateLeft()"
  (window:keydown.w)="startMoveForward()"
  (window:keyup.w)="cancelMoveForward()"
  (window:keydown.s)="startMoveBackward()"
  (window:keyup.s)="cancelMoveBackward()"
  [ngClass]="{
    'hidden--visually': !showCanvas,
    'e-room__canvas': true,
    'border__shadow--green': true
  }"
  [width]="SCREEN_WIDTH"
  [height]="SCREEN_HEIGHT"
  #canvas
>
</canvas>

<p [ngClass]="{ hidden: showCanvas, 'e-room__loading': !showCanvas }"></p>
<app-screen-modal class="e-screen-modal__container"></app-screen-modal>
