<canvas
  [ngClass]="{
    'hidden--visually': !showCanvas,
    'e-room__canvas': true,
    'border__shadow--green': true
  }"
  [width]="SCREEN_WIDTH"
  [height]="SCREEN_HEIGHT"
  #canvas
>
</canvas>
<app-control-buttons
  class="hidden-ml"
  (startMoveRight)="startRotateRight()"
  (stopMoveRight)="cancelRotateRight()"
  (startMoveLeft)="startRotateLeft()"
  (stopMoveLeft)="cancelRotateLeft()"
  (startMoveUp)="startMoveForward()"
  (stopMoveUp)="cancelMoveForward()"
  (startMoveDown)="startMoveBackward()"
  (stopMoveDown)="cancelMoveBackward()"
></app-control-buttons>
<p [ngClass]="{ hidden: showCanvas, 'e-room__loading': !showCanvas }"></p>
<app-screen-modal class="e-screen-modal__container"></app-screen-modal>
