<canvas
  (window:keydown.arrowright)="startRotateRight()"
  (window:keyup.arrowright)="cancelRotateRight()"
  (window:keydown.arrowleft)="startRotateLeft()"
  (window:keyup.arrowleft)="cancelRotateLeft()"
  (window:keydown.arrowup)="startMoveForward()"
  (window:keyup.arrowup)="cancelMoveForward()"
  (window:keydown.arrowdown)="startMoveBackward()"
  (window:keyup.arrowdown)="cancelMoveBackward()"
  [ngClass]="{
    'hidden--visually': !showCanvas,
    'e-room__canvas': true,
    'border__shadow--green': true
  }"
  [width]="SCREEN_WIDTH"
  [height]="SCREEN_HEIGHT"
  #canvas
>
</canvas>

<p [ngClass]="{ hidden: showCanvas, 'e-room__loading': true }"></p>
<app-screen-modal class="e-screen-modal__container"></app-screen-modal>
