<div
  class="hidden--visually"
  (window:keydown.arrowright)="onStartMovingRight($event)"
  (window:keyup.arrowright)="onStopMovingRight()"
  (window:keydown.arrowleft)="onStartMovingLeft($event)"
  (window:keyup.arrowleft)="onStopMovingLeft()"
  (window:keydown.arrowup)="onStartMovingUp($event)"
  (window:keyup.arrowup)="onStopMovingUp()"
  (window:keydown.arrowdown)="onStartMovingDown($event)"
  (window:keyup.arrowdown)="onStopMovingDown()"
  (window:keydown.d)="onStartMovingRight()"
  (window:keyup.d)="onStopMovingRight()"
  (window:keydown.a)="onStartMovingLeft()"
  (window:keyup.a)="onStopMovingLeft()"
  (window:keydown.w)="onStartMovingUp()"
  (window:keyup.w)="onStopMovingUp()"
  (window:keydown.s)="onStartMovingDown()"
  (window:keyup.s)="onStopMovingDown()"
></div>
