<div class="e-cube__face__container e-cube__face__container--front padding--2">
  <h1 class="margin-bottom--1">Welcome to the cube</h1>
  <a [routerLink]="['/home']">> back to home</a><br />
  <p class="padding--2">
    asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsdaasdfsdfsdafsdaasd fsdfsdafsdaasdfsdfsdafsda
    asdfsdfsdafsdaasdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsdav
    vvasdfsdfsdafsdaasdfsdfsdafsda v vasdfsdfsdafsdavvv v v v asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda
    asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda asdfsdfsdafsda
  </p>
</div>
