<div
  class="e-cube__face__container e-cube__face__container--right padding--2 e-flex e-flex--column e-flex__align--center"
>
  <div class="e-flex e-flex--row e-flex__col e-flex__align--center">
    <button (click)="emitDisco()" class="e-button e-button--small">Disco</button>
  </div>
  <div class="e-flex e-flex--row e-flex__col e-flex__align--center">
    <button (click)="emitNormal()" class="e-button e-button--small">Normal</button>
  </div>
  <div class="e-flex e-flex--row e-flex__col e-flex__align--center">
    <button (click)="emitGrid()" class="e-button e-button--small">Grid</button>
  </div>
</div>
