.#{$block-prefix}about {
  &__canvas {
    width: 150px;
    height: 150px;
  }

  &__image {
    margin-top: 8px;
  }

  &__loading {
    width: 150px;
    height: 150px;

    @include spinner-before-element($colour-green) {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
