@import '../config';
@import '../abstracts/all';

.#{$block-prefix}container {
  margin: 0 auto;
  min-height: 0.8rem;
  padding: 0 $media-small-offset;
  width: 100%;

  @include media-medium {
    max-width: ($media-medium-width);
    padding: 0 $media-medium-offset;
  }

  @include media-large {
    max-width: ($media-medium-width);
    padding: 0 $media-large-offset;
  }
}
