@import '../config';
@import '../abstracts/all';

@mixin _twelve-flex-cols {
  flex: 1;
  @for $i from 1 through 12 {
    &-#{$i} {
      flex: $i;
    }
  }
}

.#{$block-prefix}flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;

  &__col {
    @include _twelve-flex-cols;
    margin: 0;
    width: auto;
    @include media-small {
      flex: 1;
    }
  }

  @include media-small {
    flex-direction: column;
    align-items: center;
  }

  &__justify {
    &--center {
      justify-content: center;
    }
  }
}
