@import '../abstracts/all';

.hidden {
  display: none !important;

  &--visually {
    @include hide-visually-only;
  }

  &-s {
    @include media-small {
      display: none !important;
    }
  }

  &-ml {
    @include media-medium {
      display: none !important;
    }
  }
}

.invisible {
  visibility: hidden;
  position: absolute;
}
