@import '../abstracts/all';

.text {
  &--center {
    text-align: center;
  }

  &--green {
    color: $colour-green;
  }

  &--dark {
    color: $colour-dark-gray;
  }

  &--commodore {
    font-family: Commodore;
  }

  &__shadow {
    &--green {
      @include text-shadow($colour-green, 3);
      @for $i from 2 through 12 {
        &-#{$i} {
          @include text-shadow($colour-green, $i);
        }
      }
    }
  }
}
