<ng-container *ngIf="passage !== passageTypeEnum.NONE">
  <div
    class="e-screen-modal padding-vertical--2 border--light-2 e-flex e-flex--column e-flex__justify--space-between"
  >
    <div class="padding-horizontal--2">
      <h3 class="margin-bottom--1 e-screen-modal__text">{{ info.title }}</h3>
      <p class="text--center e-screen-modal__text">{{ info.content }}</p>
      <br />
      <p class="text--center hidden-s e-screen-modal__text">
        You will be returned to your current position when you are finished.
      </p>
    </div>
    <div class="text--center">
      <button class="e-button e-button--small e-button--primary" type="button">
        Proceed
      </button>
      <button class="e-button e-button--small" type="button" (click)="close()">
        Close
      </button>
    </div>
  </div>
</ng-container>
