<div *ngIf="passage" [hidden]="passage === passageTypeEnum.NONE">
  <div
    class="e-screen-modal padding-vertical--2 border--light-2 e-flex e-flex--column e-flex__justify--space-between"
    [ngClass]="{ 'padding-override bg--lightgray': info.bgImg !== '' }"
  >
    <div *ngIf="info.bgImg === ''" class="padding-horizontal--2">
      <h3 class="margin-bottom--1 e-screen-modal__text">{{ info.title }}</h3>
      <p class="text--center e-screen-modal__text">{{ info.content }}</p>
      <br />
      <p class="text--center hidden-sm e-screen-modal__text" *ngIf="!info.eddyLiez">
        You will be returned to your current position when you are finished.
      </p>
    </div>
    <div *ngIf="info.bgImg === '' && !info.eddyLiez" class="text--center">
      <button class="e-button e-button--small e-button--primary" type="button" (click)="proceed()">
        Proceed
      </button>
      <button class="e-button e-button--small" type="button" (click)="close()">
        Close
      </button>
    </div>
    <iframe
      [hidden]="!info.eddyLiez"
      style="border-radius: 12px;"
      src="https://open.spotify.com/embed/album/50l3xdLnxuetIaLXz9JAOG?utm_source=generator&theme=0"
      width="100%"
      height="152"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <div
      *ngIf="info.bgImg !== ''"
      [style]="'background-image: url(' + info.bgImg + ');'"
      class="e-screen-modal__image e-image__container"
    >
      <img
        src="../../../../assets/images/static.gif"
        alt="static-noise-foreground"
        class="e-image__foreground e-image__foreground--light"
        draggable="false"
      />
    </div>
  </div>
</div>
