$colour-green: rgb(0, 255, 50);
$colour-green-shadow: rgb(100, 180, 100);
$colour-green-light: rgb(150, 255, 80);

$colour-black: rgb(0, 0, 0);
$colour-dark-gray: rgb(100, 100, 100);
$colour-light-gray: rgb(200, 200, 200);
$colour-white: rgb(255, 255, 255);

$colour-dark-gray-hover: rgb(110, 110, 110);
$colour-light-gray-hover: rgb(220, 220, 220);
