@import '../config';
@import '../abstracts/all';

.#{$block-prefix}screen-modal {
  &__container {
    position: relative;
    display: block;
  }

  width: 75%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  height: 300px;

  @include media-small {
    height: 200px;
    bottom: 50px;
  }

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: $colour-dark-gray;
  opacity: 0.9;

  &__text {
    opacity: 1;
  }
}
